<footer class="container-fluid #footer">
    <div class="row">
        <div class="col">
           <div class="row">
                <div class="col-12 col-md3 col-lg-4">
                  
                </div>
                 <div class="col-12 col-md3 col-lg-4 text-center footerafb">
                     <a href="https://www.facebook.com/?ref=logo" > <img src="{{ site.baseurl }}/images/voorbeelden/facebook.png" alt="logo" width="10%"></a>
                      <a href="http://kajakpolo-lokeren.be/" >  <img src="{{ site.baseurl }}/images/voorbeelden/websitelink.png" alt="logo" width="12%"></a>
                      <a href="https://twitter.com/?lang=nl" >    <img src="{{ site.baseurl }}/images/voorbeelden/twitter.png" alt="logo" width="10%"></a>
                       <a href="https://www.instagram.com/?hl=nl" >    <img src="{{ site.baseurl }}/images/voorbeelden/insta.png" alt="logo" width="10%"></a>
                        
                     
                 </div>
                 <div class="col-12 col-md3 col-lg-4">
                   
                    </div>
                
             </div>
             
            <div class="row">
            <div class="col-12 col-md3 col-lg-12 text-center">
            <p class="white eerste">Copyright © | 2018 | VZW TRITON | All rights reserved I</p>
            <p class="white">in samenwerking met Eveline Hoffelinck en Arteveldehogeschool</p> 
            <p class="white">academiejaar 2017 - 2018 </p>

            <p class="white">Ons e-mailadres is:</p>
            <p class="white laatste">berten.vandriessche@gmail.com</p>
            </div>
            </div>
              <div class="row logos">
                <div class="col-12 col-md3 col-lg-4">
                  
                </div>
                 <div class="col-12 col-md3 col-lg-4 text-center footerafb">
                   
                        <a href="https://www.arteveldehogeschool.be/" >    <img src="{{ site.baseurl }}/images/voorbeelden/ARTEV_lo_met_baseline_RGB-02.png" alt="logo" width="30%"></a>
                       <a href="http://kajakpolo-lokeren.be/" >    <img src="{{ site.baseurl }}/images/voorbeelden/LOGO-VZW-TRITON-WIT.png" alt="logo" width="30%"></a>
                 </div>
                 <div class="col-12 col-md3 col-lg-4">
                   
                    </div>
                
             </div>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>