/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
}

/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: $geel;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

.navbar {
  background-color: $geel;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15pt;
}
.navbar-expand-md:hover .navbar-nav:hover .nav-link:hover {
   opacity: 0.7;
}

.navbar-expand-md:active .navbar-nav:active .nav-link:active {
   opacity: 0.7;
   color:#ff9100; 
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$geel; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: all 0.7s ease-in-out;
  &:hover {
    background-color:#ff9100; 
  }
}