// default-styling

body {
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $lineheight-base;
    background-color: white;
    color: $body-color;
}
/*HOME--------------------------------------------------------------------------------------------------------------*/

.rand-home{
    border: 2px solid $color-grey-2;
    margin-bottom: 50px;
}
.typohome{
    background-color: $geel;
}
.quote{
    font-size:100px;
    color:white;
    font-weight: bold;
    margin-top: -400px;
    line-height: 84px;
}
.merkverhaal{
    margin-top: 140px;
    margin-bottom: 30px;
}
.merkverhaaltekst{
    margin-bottom: 100px;
}
.logohome{
    margin-top: 100px;
}

.logohometekst, .typohometekst{
    margin-top: 90px;
    
}
.typohometekst{
    margin-top: 80px;
    padding-left: 80px;
    
}
.leesmeer{
    margin-top: 40px;
    margin-bottom: 80px;
}
.leesmeeru{
    margin-top: 30px;
    margin-bottom: 30px;
}
.indexafb{
    margin-left: 17px;
}
.btn, .btn-primary{
    color:white;
    background-color:$geel;
    border: none;
     transition: all 0.7s ease-in-out;
}
.btn-primary:hover{
    color:white;
    background-color:#ff9100;
    border: none;
    
}
.kleurhome{
    margin-left: -15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $myfont-family-base-two;
    font-family: $myfont-family-title;
    font-weight: $font-weight-bold;
}

h1 {
    font-weight: $font-weight-bold;
    font-size: 50pt;
    color: $geel;
}
h2 {
    font-weight: $font-weight-bold;
    font-size: 40pt;
    color: $blauw;
    margin-bottom: 20px;
    
}
h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 2rem 0 0;
}

#footer{
    color: white;
    background-color:$geel;
    
}

.laatste{
    margin-bottom: 200px;
}
/* logo----------------------------------------------------------------------------------------------------------------------*/
.quote2{
    font-size:180px;
    color:white;
    font-weight: 700;
    margin-top: -350px;
    line-height: 94px;
    margin-bottom: 100px;
}
.leesmeerlogo{
      margin-top: 50px;
    margin-bottom: 80px;
}
.blauwachter{
    background-color:$blauw;
    height: 300px;
    padding-top: 50px;
}
.geelachter{
    background-color:$geel;
    height: 300px;
    padding-top: 50px;
}
.zwartachter{
    background-color: black;
      height: 300px;
    padding-top: 50px;
}
hr{
    height: 0px;
    color:$geel;
    margin-top: 150px;
    margin-bottom: 200px;
    border:none;
    border-top:2px solid $geel;
        
}
.fotowitruimte{
    margin-top:70px;
}
.grijsachter{
    background-color:#f6f6f6;
    padding-top: 100px;
}
.logo1{
    margin-bottom: 30px;
    padding-top: 50px;
    }
.logo2{
    margin-bottom: 30px;
    }
.logo3{
   
    padding-top: 50px;
    }
.alineaonder{
    margin-top: 110px;
}
.logogebruik{
    margin-top: 50px;
}
.hartaanval{
    padding-left: 90px;
}
.sporttas{
    margin-top: 250px;
}
p{
    line-height: 24px;
    color: #6f6f6e;
}
.download{
    margin-top: -80px;
    margin-bottom: 300px;
    margin-left: 430px;
}
/*kleur-----------------------------------------------------------------------------------------------------------------------------*/
.kleurgebruik{
    padding-top: 20px;
    padding-left:50px;
    padding-right:50px;
}
.kleurgebruiktekst{
    margin-bottom: 50px;
}
.laatstekleur{
   padding-bottom: 100px;
}
/*typo----------------------------------------------------------------------------------------------------------------------------------*/
.typovoorgebruik{
    margin-top: 150px;
}

.merkverhaaltypo{
      margin-top: 100px;
    margin-bottom: 30px;
}

/* foto-------------------------------------------------------------------------------------------------------------------------------- */
.uitsnedes{
    margin-top: -30px;
}
.quote3{
    font-size:80px;
    color: white;
    margin-top: -250px;
}
.foto-tekst{
    color: white;
    font-size: 16px;
    line-height: 18px;
}
.fotografie1{
    margin-top: 50px;
}
.fotografiemarge{
    margin-bottom: 50px;
}
/*.fotovoorgebruik{
   margin-top: 50px;
}*/

/*navigatie-------------------------------------------------------------------------------------------------------------
.navbar{
    background-color: $geel;
   

.navbar .navbar-expand-md .navbar-light .bg-light{
      background-color: $geel;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}}*/

/* footer-----------------------------------------*/
.white{
    color: white;
}
.footerafb{
    margin-top: 50px;
  
}
footer .eerste{
    margin-top: 50px;
    
}
footer p{
    line-height: 10px; 
}
footer .laatste{
    margin-bottom: 100px;
    
}
footer a{
    border-bottom: none;
}
footer a:hover{
    border-bottom: none;
    opacity: 0.7;
}
footer a:active{
    border-bottom: none;
    opacity: 0.2;
    color:$geel;
}
/* STYLEGUIDE ------------- -------------------------------------------------------------*/

.downloadadv{
    margin-top: -50px;
    margin-bottom: 200px;
    margin-left: 430px;
}
.advtitel{
    margin-top: 80px;
    margin-bottom: 30px;
}
.affichetekst{
margin-bottom: 100px;

}
.affiche{
    margin-top: -10px;
    margin-bottom: 30px;
}
.downloaff{
    margin-top: -45px;
    margin-bottom: 100px;
    
}
.folder{
    margin-top: 200px;
}
.foldertop{
    margin-top: -10px;
    margin-bottom: 30px;
}

.foldertoptekst{
margin-bottom: 20px;
}
.folderfoto{
    margin-bottom: 250px;
}
.downloadfolder{
    margin-top: 140px;
    margin-bottom: 200px;
    float: right;
}
.helmtitel{
 margin-top: 30px;
    margin-bottom: 30px;
}
.helmtekst{
margin-bottom: 100px;
}
.kajaktitel{
margin-top: 100px;
    margin-bottom: 30px;
}
.kajaktekst{
 margin-bottom: 70px;
}
.downloadkajak{
    margin-top: -10px;
    margin-bottom: 100px;
    margin-left: 430px;
}
.downloadhelm{
    margin-top: 110px;
    margin-bottom: 100px;
    float: right;
}
.pettitel{
 margin-top: 100px;
    margin-bottom: 30px;
}
.pettekst{
margin-bottom: 100px;
}
.downloadpet{
    margin-top: -10px;
    margin-bottom: 150px;
    float: right;
}
.tastitel{
 margin-top: 100px;
    margin-bottom: 30px;
}
.tastekst{
margin-bottom: 100px;
}
.downlotas{
     margin-top: -45px;
    margin-bottom: 250px;
}
.tshirt1 {
    margin-top: -15px;
    margin-bottom: 30px;
}

.downloadshirt{
    margin-top: -50px;
    margin-bottom: 100px;
    margin-left: 430px;
}
.vlagfoto{
    margin-top: 200px;
    margin-left: 110px;
    margin-bottom: -50px;
}
.vlagdownload{
     margin-top: -50px;
    margin-bottom: 200px;
    margin-left: 430px;
}
.handdoektitel{
 margin-top: 100px;
    margin-bottom: 30px;
}
.nieuwsbrieffoto{
   margin-top: 160px;
    margin-bottom: -60px;
    margin-left: 350px;  
}
.downloadnieuws{
    margin-top: -50px;
    margin-bottom: 400px;
    margin-left: 430px;
}
a {
    text-decoration: none;
    color: $body-link;
    border-bottom: solid 1px $body-link;
    &:hover{
        color: $body-link;
        text-decoration: none;
        border-bottom: solid 1px $body-link;
    }
    &:active{
        background-color: $body-link;
        color: $color-white;
        opacity: 0.2;
        transition: all 0.7s ease-in-out;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-5;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-5;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    margin-top: 10px;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        /*background-color: $mycolor-5;
        color: $color-white;*/
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}